---
import Header from "@/components/Header.astro";
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
import Footer from "@/components/Footer.astro";
---

<Layout title="Designo Agency Website Challenge.">
  <!-- The Header -->
  <Header />
  <main></main>
  <!-- The Footer -->
  <Footer />
</Layout>
