---
import "@/styles/globals.css";
---

<section
  class="relative -bottom-[12rem] mx-6 flex h-[23.6875rem] w-[20.4375rem] flex-col items-center justify-center gap-8 overflow-hidden rounded-[0.9375rem] bg-[#e7816b] px-6 py-16 md:-bottom-24 md:mx-[2.44rem] md:h-[21.875rem] md:w-[43.125rem] md:py-[3.56rem] xl:-bottom-16 xl:ml-[10.31rem] xl:mr-[10.25rem] xl:h-[18.25rem] xl:w-[69.4375rem] xl:flex-row xl:justify-between xl:px-24 xl:py-[4.5rem]"
>
  <img
    src="/public/images/shared/desktop/bg-pattern-call-to-action.svg"
    alt=""
    class="absolute hidden md:right-[-6.938rem] md:top-[-3.938rem] md:flex xl:right-[-2.938rem] xl:top-[-8.938rem]"
  />
  <div
    class="z-50 flex flex-col items-center gap-4 text-center xl:items-start xl:text-left"
  >
    <h2
      class="w-[17.4375rem] text-[2rem] font-medium leading-9 text-white md:w-[20.9375rem] md:text-[2.5rem] md:leading-10 xl:w-[16.75rem]"
    >
      Let&#39;s talk about your project
    </h2>
    <p
      class="w-[17.4375rem] text-[0.9375rem] font-normal leading-[1.5625rem] text-white md:w-[33.8125rem] md:text-base md:leading-relaxed xl:w-[28.6875rem]"
    >
      Ready to take it to the next level? Contact us today and find out how our
      expertise can help your business grow.
    </p>
  </div>
  <div class="z-50 flex">
    <button
      type="button"
      class="h-14 w-[9.5rem] cursor-pointer rounded-lg bg-white text-[0.9375rem] font-medium uppercase leading-normal tracking-[0.0625rem] text-[#333136] transition-colors duration-300 ease-in hover:bg-[#FFAD9B]"
      >get in touch</button
    >
  </div>
</section>
